<launch>
    <rosparam file="$(find offboard)/config/cadc_task.yaml" command="load"/>

  <include file="$(find mavros)/launch/apm.launch" >
  <!-- <include file="$(find mavros)/launch/px4.launch" > -->
    <!-- <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/> -->
    <arg name="fcu_url" value="udp://127.0.0.1:14550@14555"/>
  </include>

    <node name = "apm_task" pkg="offboard" type="apm_task" output="screen" />

</launch>