<launch>
    <rosparam file="$(find offboard)/config/cadc_task.yaml" command="load"/>


  <include file="$(find mavros)/launch/px4.launch" >
    <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
  </include>

    <node name = "px4_task" pkg="offboard" type="px4_task" output="screen" />

</launch>